parametersSchema:
	forrest79: structure([
		phpgsql: structure([
			dbRowClass: string()
			fluentQueryClass: string()
		])
	])

parameters:
	universalObjectCratesClasses:
		- Forrest79\PhPgSql\Db\Row

	forrest79:
		phpgsql:
			dbRowClass: Forrest79\PhPgSql\Db\Row
			fluentQueryClass: Forrest79\PhPgSql\Fluent\QueryExecute

services:
	Forrest79PhPgSqlPHPStanTypeDbResultDynamicMethodReturnTypeExtension:
		class: Forrest79\PhPgSql\PHPStan\Type\DbResultDynamicMethodReturnTypeExtension
		arguments:
			dbRowClass: %forrest79.phpgsql.dbRowClass%
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

	Forrest79PhPgSqlPHPStanTypeFluentQueryExecuteDynamicMethodReturnTypeExtension:
		class: Forrest79\PhPgSql\PHPStan\Type\FluentQueryExecuteDynamicMethodReturnTypeExtension
		arguments:
			dbRowClass: %forrest79.phpgsql.dbRowClass%
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension

	Forrest79PhPgSqlPHPStanTypeFluentComplexDynamicMethodReturnTypeExtension:
		class: Forrest79\PhPgSql\PHPStan\Type\FluentComplexDynamicMethodReturnTypeExtension
		arguments:
			fluentQueryClass: %forrest79.phpgsql.fluentQueryClass%
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
