ignoreErrors:
	-
		sniff: SlevomatCodingStandard.Functions.UnusedParameter.UnusedParameter
		message: Unused parameter $methodCall.
		count: 1
		path: src/PHPStan/Type/FluentComplexDynamicMethodReturnTypeExtension.php

	-
		sniff: SlevomatCodingStandard.Functions.UnusedParameter.UnusedParameter
		message: Unused parameter $methodReflection.
		count: 1
		path: src/PHPStan/Type/FluentComplexDynamicMethodReturnTypeExtension.php

	-
		sniff: SlevomatCodingStandard.Functions.UnusedParameter.UnusedParameter
		message: Unused parameter $scope.
		count: 1
		path: src/PHPStan/Type/FluentComplexDynamicMethodReturnTypeExtension.php

	-
		sniff: SlevomatCodingStandard.Variables.UnusedVariable.UnusedVariable
		message: Unused variable $value.
		count: 1
		path: tests/Tests.php

