includes:
	- %rootDir%/conf/bleedingEdge.neon
	- %rootDir%/../phpstan-strict-rules/rules.neon
	- %rootDir%/../../../vendor/shipmonk/phpstan-rules/rules.neon

	# Settings for tests
	- extension.neon

parameters:
	level: max

	# Settings for tests
	forrest79:
		phpgsql:
			dbRowClass: Forrest79\PhPgSql\Tests\OwnRow
			fluentQueryClass: Forrest79\PhPgSql\Tests\OwnQuery
